@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C600&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C600&display=swap");

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-fwnoLZxr4AV__font-family: "Inter", sans-serif;
  --mixin-fwnoLZxr4AV__font-size: 14px;
  --mixin-fwnoLZxr4AV__font-weight: 400;
  --mixin-fwnoLZxr4AV__font-style: normal;
  --mixin-fwnoLZxr4AV__color: #535353;
  --mixin-fwnoLZxr4AV__text-align: left;
  --mixin-fwnoLZxr4AV__text-transform: none;
  --mixin-fwnoLZxr4AV__line-height: 1.5;
  --mixin-fwnoLZxr4AV__letter-spacing: normal;
  --mixin-fwnoLZxr4AV__white-space: pre-wrap;
  --mixin-fwnoLZxr4AV__user-select: text;
  --mixin-fwnoLZxr4AV__text-decoration-line: none;
  --mixin-fwnoLZxr4AV__text-overflow: clip;
  --mixin-y2P5iQe5FGlw_color: #000000;
  --mixin-y2P5iQe5FGlw_font-weight: 600;
  --mixin-y2P5iQe5FGlw_font-size: 40px;
  --mixin-y2P5iQe5FGlw_line-height: 1;
  --mixin-y2P5iQe5FGlw_letter-spacing: -1px;
  --mixin-y2P5iQe5FGlw_white-space: pre-wrap;
  --mixin-Ywrk5PmhiNNE_color: #000000;
  --mixin-Ywrk5PmhiNNE_font-size: 30px;
  --mixin-Ywrk5PmhiNNE_font-weight: 600;
  --mixin-Ywrk5PmhiNNE_line-height: 1.1;
  --mixin-Ywrk5PmhiNNE_white-space: pre-wrap;
  --mixin-fe2y9b2wSlHk_color: #0070f3;
  --mixin-fe2y9b2wSlHk_white-space: pre-wrap;
  --mixin-UqZhqoMTxkHX_color: #000000;
  --mixin-UqZhqoMTxkHX_font-size: 24px;
  --mixin-UqZhqoMTxkHX_font-weight: 600;
  --mixin-UqZhqoMTxkHX_line-height: 1.2;
  --mixin-UqZhqoMTxkHX_white-space: pre-wrap;
  --mixin-X5HaBqxVtMTR_color: #000000;
  --mixin-X5HaBqxVtMTR_font-size: 20px;
  --mixin-X5HaBqxVtMTR_font-weight: 600;
  --mixin-X5HaBqxVtMTR_line-height: 1.3;
  --mixin-X5HaBqxVtMTR_white-space: pre-wrap;
  --mixin-13CiUE3JVlD1_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-13CiUE3JVlD1_border-bottom-color: #dddddd;
  --mixin-13CiUE3JVlD1_border-bottom-style: solid;
  --mixin-13CiUE3JVlD1_border-bottom-width: 1px;
  --mixin-13CiUE3JVlD1_border-left-color: #dddddd;
  --mixin-13CiUE3JVlD1_border-left-style: solid;
  --mixin-13CiUE3JVlD1_border-left-width: 1px;
  --mixin-13CiUE3JVlD1_border-right-color: #dddddd;
  --mixin-13CiUE3JVlD1_border-right-style: solid;
  --mixin-13CiUE3JVlD1_border-right-width: 1px;
  --mixin-13CiUE3JVlD1_border-top-color: #dddddd;
  --mixin-13CiUE3JVlD1_border-top-style: solid;
  --mixin-13CiUE3JVlD1_border-top-width: 1px;
  --mixin-13CiUE3JVlD1_border-bottom-left-radius: 3px;
  --mixin-13CiUE3JVlD1_border-bottom-right-radius: 3px;
  --mixin-13CiUE3JVlD1_border-top-left-radius: 3px;
  --mixin-13CiUE3JVlD1_border-top-right-radius: 3px;
  --mixin-13CiUE3JVlD1_font-family: "Inconsolata";
  --mixin-13CiUE3JVlD1_padding-bottom: 1px;
  --mixin-13CiUE3JVlD1_padding-left: 4px;
  --mixin-13CiUE3JVlD1_padding-right: 4px;
  --mixin-13CiUE3JVlD1_padding-top: 1px;
  --mixin-13CiUE3JVlD1_white-space: pre-wrap;
  --mixin-3CnkU-0X6F7H_border-left-color: #dddddd;
  --mixin-3CnkU-0X6F7H_border-left-style: solid;
  --mixin-3CnkU-0X6F7H_border-left-width: 3px;
  --mixin-3CnkU-0X6F7H_color: #888888;
  --mixin-3CnkU-0X6F7H_padding-left: 10px;
  --mixin-3CnkU-0X6F7H_white-space: pre-wrap;
  --mixin-OosAQ2KB6s53_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-OosAQ2KB6s53_border-bottom-color: #dddddd;
  --mixin-OosAQ2KB6s53_border-bottom-style: solid;
  --mixin-OosAQ2KB6s53_border-bottom-width: 1px;
  --mixin-OosAQ2KB6s53_border-left-color: #dddddd;
  --mixin-OosAQ2KB6s53_border-left-style: solid;
  --mixin-OosAQ2KB6s53_border-left-width: 1px;
  --mixin-OosAQ2KB6s53_border-right-color: #dddddd;
  --mixin-OosAQ2KB6s53_border-right-style: solid;
  --mixin-OosAQ2KB6s53_border-right-width: 1px;
  --mixin-OosAQ2KB6s53_border-top-color: #dddddd;
  --mixin-OosAQ2KB6s53_border-top-style: solid;
  --mixin-OosAQ2KB6s53_border-top-width: 1px;
  --mixin-OosAQ2KB6s53_border-bottom-left-radius: 3px;
  --mixin-OosAQ2KB6s53_border-bottom-right-radius: 3px;
  --mixin-OosAQ2KB6s53_border-top-left-radius: 3px;
  --mixin-OosAQ2KB6s53_border-top-right-radius: 3px;
  --mixin-OosAQ2KB6s53_font-family: "Inconsolata";
  --mixin-OosAQ2KB6s53_padding-bottom: 3px;
  --mixin-OosAQ2KB6s53_padding-left: 6px;
  --mixin-OosAQ2KB6s53_padding-right: 6px;
  --mixin-OosAQ2KB6s53_padding-top: 3px;
  --mixin-OosAQ2KB6s53_white-space: pre-wrap;
  --mixin-fz2ZGvb6j-49_display: flex;
  --mixin-fz2ZGvb6j-49_flex-direction: column;
  --mixin-fz2ZGvb6j-49_align-items: stretch;
  --mixin-fz2ZGvb6j-49_justify-content: flex-start;
  --mixin-fz2ZGvb6j-49_list-style-position: outside;
  --mixin-fz2ZGvb6j-49_padding-left: 40px;
  --mixin-fz2ZGvb6j-49_position: relative;
  --mixin-fz2ZGvb6j-49_list-style-type: disc;
  --mixin-fz2ZGvb6j-49_white-space: pre-wrap;
  --mixin-UMMAonbczS45_display: flex;
  --mixin-UMMAonbczS45_flex-direction: column;
  --mixin-UMMAonbczS45_align-items: stretch;
  --mixin-UMMAonbczS45_justify-content: flex-start;
  --mixin-UMMAonbczS45_list-style-position: outside;
  --mixin-UMMAonbczS45_padding-left: 40px;
  --mixin-UMMAonbczS45_position: relative;
  --mixin-UMMAonbczS45_list-style-type: decimal;
  --mixin-UMMAonbczS45_white-space: pre-wrap;
  --mixin-2zEmca5SYuWV_color: #000000;
  --mixin-2zEmca5SYuWV_font-size: 16px;
  --mixin-2zEmca5SYuWV_font-weight: 600;
  --mixin-2zEmca5SYuWV_line-height: 1.5;
  --mixin-2zEmca5SYuWV_white-space: pre-wrap;
  --mixin-U10znyMS3P0u_color: #000000;
  --mixin-U10znyMS3P0u_font-size: 14px;
  --mixin-U10znyMS3P0u_font-weight: 600;
  --mixin-U10znyMS3P0u_line-height: 1.5;
  --mixin-U10znyMS3P0u_white-space: pre-wrap;
  --mixin-mRpuxrgHUWd9_color: #3291ff;
  --mixin-mRpuxrgHUWd9_white-space: pre-wrap;
  --mixin-kusT9TBqzle6_white-space: pre-wrap;
  --mixin-9Zxjd6Hukbxo_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-fwnoLZxr4AV__font-family);
  font-size: var(--mixin-fwnoLZxr4AV__font-size);
  font-weight: var(--mixin-fwnoLZxr4AV__font-weight);
  font-style: var(--mixin-fwnoLZxr4AV__font-style);
  color: var(--mixin-fwnoLZxr4AV__color);
  text-align: var(--mixin-fwnoLZxr4AV__text-align);
  text-transform: var(--mixin-fwnoLZxr4AV__text-transform);
  line-height: var(--mixin-fwnoLZxr4AV__line-height);
  letter-spacing: var(--mixin-fwnoLZxr4AV__letter-spacing);
  white-space: var(--mixin-fwnoLZxr4AV__white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-y2P5iQe5FGlw_color);
  font-weight: var(--mixin-y2P5iQe5FGlw_font-weight);
  font-size: var(--mixin-y2P5iQe5FGlw_font-size);
  line-height: var(--mixin-y2P5iQe5FGlw_line-height);
  letter-spacing: var(--mixin-y2P5iQe5FGlw_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-Ywrk5PmhiNNE_color);
  font-size: var(--mixin-Ywrk5PmhiNNE_font-size);
  font-weight: var(--mixin-Ywrk5PmhiNNE_font-weight);
  line-height: var(--mixin-Ywrk5PmhiNNE_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-fe2y9b2wSlHk_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-UqZhqoMTxkHX_color);
  font-size: var(--mixin-UqZhqoMTxkHX_font-size);
  font-weight: var(--mixin-UqZhqoMTxkHX_font-weight);
  line-height: var(--mixin-UqZhqoMTxkHX_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-X5HaBqxVtMTR_color);
  font-size: var(--mixin-X5HaBqxVtMTR_font-size);
  font-weight: var(--mixin-X5HaBqxVtMTR_font-weight);
  line-height: var(--mixin-X5HaBqxVtMTR_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-13CiUE3JVlD1_font-family);
  border-radius: var(--mixin-13CiUE3JVlD1_border-top-left-radius)
    var(--mixin-13CiUE3JVlD1_border-top-right-radius)
    var(--mixin-13CiUE3JVlD1_border-bottom-right-radius)
    var(--mixin-13CiUE3JVlD1_border-bottom-left-radius);
  padding: var(--mixin-13CiUE3JVlD1_padding-top)
    var(--mixin-13CiUE3JVlD1_padding-right)
    var(--mixin-13CiUE3JVlD1_padding-bottom)
    var(--mixin-13CiUE3JVlD1_padding-left);
  border-top: var(--mixin-13CiUE3JVlD1_border-top-width)
    var(--mixin-13CiUE3JVlD1_border-top-style)
    var(--mixin-13CiUE3JVlD1_border-top-color);
  border-right: var(--mixin-13CiUE3JVlD1_border-right-width)
    var(--mixin-13CiUE3JVlD1_border-right-style)
    var(--mixin-13CiUE3JVlD1_border-right-color);
  border-bottom: var(--mixin-13CiUE3JVlD1_border-bottom-width)
    var(--mixin-13CiUE3JVlD1_border-bottom-style)
    var(--mixin-13CiUE3JVlD1_border-bottom-color);
  border-left: var(--mixin-13CiUE3JVlD1_border-left-width)
    var(--mixin-13CiUE3JVlD1_border-left-style)
    var(--mixin-13CiUE3JVlD1_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-3CnkU-0X6F7H_color);
  padding-left: var(--mixin-3CnkU-0X6F7H_padding-left);
  border-left: var(--mixin-3CnkU-0X6F7H_border-left-width)
    var(--mixin-3CnkU-0X6F7H_border-left-style)
    var(--mixin-3CnkU-0X6F7H_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-OosAQ2KB6s53_font-family);
  border-radius: var(--mixin-OosAQ2KB6s53_border-top-left-radius)
    var(--mixin-OosAQ2KB6s53_border-top-right-radius)
    var(--mixin-OosAQ2KB6s53_border-bottom-right-radius)
    var(--mixin-OosAQ2KB6s53_border-bottom-left-radius);
  padding: var(--mixin-OosAQ2KB6s53_padding-top)
    var(--mixin-OosAQ2KB6s53_padding-right)
    var(--mixin-OosAQ2KB6s53_padding-bottom)
    var(--mixin-OosAQ2KB6s53_padding-left);
  border-top: var(--mixin-OosAQ2KB6s53_border-top-width)
    var(--mixin-OosAQ2KB6s53_border-top-style)
    var(--mixin-OosAQ2KB6s53_border-top-color);
  border-right: var(--mixin-OosAQ2KB6s53_border-right-width)
    var(--mixin-OosAQ2KB6s53_border-right-style)
    var(--mixin-OosAQ2KB6s53_border-right-color);
  border-bottom: var(--mixin-OosAQ2KB6s53_border-bottom-width)
    var(--mixin-OosAQ2KB6s53_border-bottom-style)
    var(--mixin-OosAQ2KB6s53_border-bottom-color);
  border-left: var(--mixin-OosAQ2KB6s53_border-left-width)
    var(--mixin-OosAQ2KB6s53_border-left-style)
    var(--mixin-OosAQ2KB6s53_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-fz2ZGvb6j-49_display);
  flex-direction: var(--mixin-fz2ZGvb6j-49_flex-direction);
  align-items: var(--mixin-fz2ZGvb6j-49_align-items);
  justify-content: var(--mixin-fz2ZGvb6j-49_justify-content);
  list-style-position: var(--mixin-fz2ZGvb6j-49_list-style-position);
  padding-left: var(--mixin-fz2ZGvb6j-49_padding-left);
  position: var(--mixin-fz2ZGvb6j-49_position);
  list-style-type: var(--mixin-fz2ZGvb6j-49_list-style-type);
  flex-column-gap: var(--mixin-fz2ZGvb6j-49_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-UMMAonbczS45_display);
  flex-direction: var(--mixin-UMMAonbczS45_flex-direction);
  align-items: var(--mixin-UMMAonbczS45_align-items);
  justify-content: var(--mixin-UMMAonbczS45_justify-content);
  list-style-position: var(--mixin-UMMAonbczS45_list-style-position);
  padding-left: var(--mixin-UMMAonbczS45_padding-left);
  position: var(--mixin-UMMAonbczS45_position);
  list-style-type: var(--mixin-UMMAonbczS45_list-style-type);
  flex-column-gap: var(--mixin-UMMAonbczS45_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-2zEmca5SYuWV_color);
  font-size: var(--mixin-2zEmca5SYuWV_font-size);
  font-weight: var(--mixin-2zEmca5SYuWV_font-weight);
  line-height: var(--mixin-2zEmca5SYuWV_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-U10znyMS3P0u_color);
  font-size: var(--mixin-U10znyMS3P0u_font-size);
  font-weight: var(--mixin-U10znyMS3P0u_font-weight);
  line-height: var(--mixin-U10znyMS3P0u_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-mRpuxrgHUWd9_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
